In [1]:
# importing dependencies

import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
# establishing path and reading Imported Deforestation data into pandas
forest_cover_df = pd.read_csv(r"C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Project_3/Project-3-Global-Warming/Data/Deforestation/share-global-forest.csv")
forest_cover_df.head()

        Entity Code  Year  Share of global forest area
0  Afghanistan  AFG  1990                     0.028525
1  Afghanistan  AFG  1991                     0.028578
2  Afghanistan  AFG  1992                     0.028631
3  Afghanistan  AFG  1993                     0.028684
4  Afghanistan  AFG  1994                     0.028738