In [1]:
# importing dependencies
import pandas as pd

In [2]:
# establishing path and reading Forest Area Change data into pandas
fachange_df = pd.read_csv(r"C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Project_3/Project-3-Global-Warming/Data/Deforestation/fra2020-forestAreaChange.csv")
fachange_df.head()

,Unnamed: 0,Deforestation (1000 ha/year),Deforestation (1000 ha/year).1,Deforestation (1000 ha/year).2,Deforestation (1000 ha/year).3
0,NaN,1990-2000,2000-2010,2010-2015,2015-2020
1,Afghanistan,NaN,NaN,NaN,NaN
2,Albania (Desk study),NaN,NaN,NaN,NaN
3,Algeria,14.80,14.50,1.40,5.40
4,American Samoa,NaN,NaN,NaN,NaN

In [3]:
# Renaming the Columns
fachange_df.columns = ['Entity', '1990-2000_Deforestation(1000ha/year)', '2000-2010_Deforestation(1000ha/year)', '2010-2015_Deforestation(1000ha/year)', '2015-2020_Deforestation(1000ha/year)']
fachange_df.head()

,Entity,1990-2000_Deforestation(1000ha/year),2000-2010_Deforestation(1000ha/year),2010-2015_Deforestation(1000ha/year),2015-2020_Deforestation(1000ha/year)
0,NaN,1990-2000,2000-2010,2010-2015,2015-2020
1,Afghanistan,NaN,NaN,NaN,NaN
2,Albania (Desk study),NaN,NaN,NaN,NaN
3,Algeria,14.80,14.50,1.40,5.40
4,American Samoa,NaN,NaN,NaN,NaN

In [4]:
# getting the data types for the dataframe
fachange_df.dtypes

Entity                                  object
1990-2000_Deforestation(1000ha/year)    object
2000-2010_Deforestation(1000ha/year)    object
2010-2015_Deforestation(1000ha/year)    object
2015-2020_Deforestation(1000ha/year)    object
dtype: object

In [5]:
#Getting the length of the dataframe
len(fachange_df)

239

In [6]:
# Dropping the first row of the data frame that contained the years for each series
fachange_df.drop(index=fachange_df.index[0], axis=0, inplace=True)

In [7]:
#Verifying that the row was dropped
fachange_df.head()

,Entity,1990-2000_Deforestation(1000ha/year),2000-2010_Deforestation(1000ha/year),2010-2015_Deforestation(1000ha/year),2015-2020_Deforestation(1000ha/year)
1,Afghanistan,NaN,NaN,NaN,NaN
2,Albania (Desk study),NaN,NaN,NaN,NaN
3,Algeria,14.80,14.50,1.40,5.40
4,American Samoa,NaN,NaN,NaN,NaN
5,Andorra,NaN,NaN,NaN,NaN

In [8]:
# Taking only the rows that have complete data entries for 1990-2000
no_nan_fachange = fachange_df[fachange_df['1990-2000_Deforestation(1000ha/year)'].notna()]

In [9]:
# Taking only the rows that have complete data entries for 2000-2010
no_2nan_fachange = no_nan_fachange[no_nan_fachange['2000-2010_Deforestation(1000ha/year)'].notna()]

In [10]:
# Taking only the rows that have complete data entries for 2010-2015
no_3nan_fachange = no_2nan_fachange[no_2nan_fachange['2010-2015_Deforestation(1000ha/year)'].notna()]

In [11]:
clean_fachange_df = no_3nan_fachange[no_3nan_fachange['2015-2020_Deforestation(1000ha/year)'].notna()]

In [12]:
# Checking to see if it worked, and if it did, what we're left with... STILL OVER 100 DATA ENTRIES LET'S GOOOOOOO!!!
len(clean_fachange_df)

112

In [13]:
# Let's take a peek at this beautiful datachild 
clean_fachange_df.head()

,Entity,1990-2000_Deforestation(1000ha/year),2000-2010_Deforestation(1000ha/year),2010-2015_Deforestation(1000ha/year),2015-2020_Deforestation(1000ha/year)
3,Algeria,14.80,14.50,1.40,5.40
9,Argentina,213.60,327.40,242.40,134.80
11,Aruba (Desk study),0.00,0.00,0.00,0.00
13,Austria,3.45,7.79,5.80,5.81
16,Bahrain (Desk study),0.01,0.01,0.00,0.00

In [16]:
# Exporting cleaned data to a CSV 
# Specifying a path to a folder for cleaned data
clean_fachange_df.to_csv(r'C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Project_3/Project-3-Global-Warming/Data/Deforestation/Clean_data/clean_forestAreaChange.csv', encoding='utf-8')