In [1]:
# importing dependencies

import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
# establishing path and reading Imported Deforestation data into pandas
imported_deforestation_df = pd.read_csv(r"C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Project_3/Project-3-Global-Warming/Data/Deforestation/imported-deforestation.csv")
imported_deforestation_df.head()

        Entity Code  Year  imported_deforestation
0  Afghanistan  AFG  2005              358.921496
1  Afghanistan  AFG  2006              104.466376
2  Afghanistan  AFG  2007              157.641326
3  Afghanistan  AFG  2008              270.486447
4  Afghanistan  AFG  2009              583.772954

In [3]:
# Renaming the last column
imported_deforestation_df.columns = ['Entity', 'Code', 'Year', 'Imported_Deforestation']
imported_deforestation_df.head()

        Entity Code  Year  Imported_Deforestation
0  Afghanistan  AFG  2005              358.921496
1  Afghanistan  AFG  2006              104.466376
2  Afghanistan  AFG  2007              157.641326
3  Afghanistan  AFG  2008              270.486447
4  Afghanistan  AFG  2009              583.772954