In [1]:
# importing dependencies

import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
# establishing path and reading Imported Deforestation data into pandas
net_deforestation_df = pd.read_csv(r"C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Project_3/Project-3-Global-Warming/Data/Deforestation/net-deforestation-in-trade.csv")
net_deforestation_df.head()

        Entity Code  Year  net_traded_deforestation
0  Afghanistan  AFG  2005                356.624669
1  Afghanistan  AFG  2006                102.646476
2  Afghanistan  AFG  2007                156.677040
3  Afghanistan  AFG  2008                270.486447
4  Afghanistan  AFG  2009                583.772954

In [5]:
# Renaming the last column
net_deforestation_df.columns = ['Entity', 'Code', 'Year', 'Net_traded_Deforestation']
net_deforestation_df.head()

        Entity Code  Year  Net_traded_Deforestation
0  Afghanistan  AFG  2005                356.624669
1  Afghanistan  AFG  2006                102.646476
2  Afghanistan  AFG  2007                156.677040
3  Afghanistan  AFG  2008                270.486447
4  Afghanistan  AFG  2009                583.772954