In [1]:
# importing dependencies

import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
# establishing path and reading Imported Deforestation data into pandas
population_df = pd.read_csv(r"C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Project_3/Project-3-Global-Warming/Data/Deforestation/owid-co2-data.csv")
population_df.head()

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,trade_co2,co2_per_capita,consumption_co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,0.002,NaN,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,NaN,475.0,0.070,NaN,0.011,NaN,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,NaN,8.7,0.007,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,NaN,0.0,0.000,NaN,0.012,NaN,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,NaN,16.0,0.015,NaN,0.013,NaN,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN

In [5]:
slimfast_pop_df = population_df[['iso_code', 'country', 'year', 'population']].copy()
slimfast_pop_df.head()

  iso_code      country  year  population
0      AFG  Afghanistan  1949   7624058.0
1      AFG  Afghanistan  1950   7752117.0
2      AFG  Afghanistan  1951   7840151.0
3      AFG  Afghanistan  1952   7935996.0
4      AFG  Afghanistan  1953   8039684.0

In [6]:
# Renaming the columns to be compatible with the other dataframes that it will be merged with
slimfast_pop_df.columns = ['Code', 'Entity' 'Year', 'Population']
slimfast_pop_df.head()

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements